# MAC OS files
.DS_Storei
weights_heights.csv
advertising.csv
_02195759eb952fcd23b60d5b07594b7b_winequality-red.csv
bikes_rent.csv
_3332ad722fa992447b07c4002f630a5a_bioresponse.csv
checkins.dat
dt.csv
data_task2.csv
data_task1.csv
